# Logs
logs
*.log
npm-debug.log*

# Dependencies and Build
node_modules
dist
dist-ssr
storybook-static
*.local
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# Storybook
*storybook.log
